@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #FFEFFF;

    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

html {
    background-color: #9e875d;
    background-image: url('texture.bmp');
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    padding: 16px;
}

div#search {
    display: flex;
    align-items: center;
    flex-direction: column;
}

span#title {
    margin-top: 2vh;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

form {
    margin-top: 2vh;
}

input[type="text"] {
    width: 60vw;
    padding: 12px;
    margin: 12px;
    text-align: center;
    font-size: x-large;
    border: 2px solid #FFEFFF;
    border-left: none;
    border-right: none;
    /* background-color: #9e875d; */
    background: none;
    outline: none;
    box-sizing: border-box;
}

nav {
    display: flex;
    margin-top: 4vh;
    align-items: start;
    flex-wrap: wrap;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

ul {
    list-style-type: none;
    padding-right: 4%;
    padding-bottom: 2vh;
    flex: 1;
}

li:first-child {
    font-weight: bold;
    font-size: larger;
    padding-right: 4%;
    padding-bottom: 1vh;
}

li {
    font-size: large;
}

a {
    display: inline-block;
    border: 2px solid #FFEFFF;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 100%;
    height: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
}
a:hover {
    color: #ffbbbb;
}